html{
    box-sizing: border-box;

}


body {
    background-color: lightgray;
    margin:0px;
    padding:0px;
}

#img{
 width: 500px;   
}

div {
    width: 200px;
}

/*This is the blue shape*/

#blue{
   background-color:rgb(26, 117, 113);
    height: 100px;
    width: 500px;
}

/*COMPLETE CSS BELOW*/

#yellow{ 
    background-color:rgb(240, 216, 110);
    height: 70px;
    width: 500px;
}

#black{
   background-color: rgb(11, 15, 8);
    height: 70px;
    width: 500px;
}

#gold{
    background-color: rgb(187, 154, 5);
    height: 60px;
    width: 500px;
}

#green{
    background-color: rgb(58, 88, 40);
    height: 100px;
    width: 500px;
}

#gold{

}

