body {
    color: rgb(219, 156, 255);
    font-family: Arial, Helvetica, sans-serif;

}
html {
    background: rgb(219, 156, 255);
}

title {
    font-size: 50px;
    color: rgb(219, 156, 255);
}

p {
    font-family: arial;
    font-size: 30px;
}
h1{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 5px white;
    animation: pulse 5s infinite;
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    margin: 350px
}
@keyframes stretch {
    0% {
      transform: scale(.5);
      border-radius: 100%;
      padding-bottom: 40px;
      padding-top: 40px;
      }
    50% {
      background-color: rgb(219, 156, 255);
      padding-bottom: 40px;
      padding-top: 40px;
    }
    100% {
      transform: scale(1.8);
      padding-bottom: 40px;
      padding-top: 40px;
    }
  }